[submodule "00-react-fundamentals"]
	path = 00-react-fundamentals
	url = git@github.com:acasarsa/react-fundamentals.git
[submodule "01-react-hooks"]
	path = 01-react-hooks
	url = git@github.com:acasarsa/react-hooks.git
[submodule "02-advanced-react-hooks"]
	path = 02-advanced-react-hooks
	url = git@github.com:acasarsa/advanced-react-hooks.git
[submodule "03-advanced-react-patterns"]
	path = 03-advanced-react-patterns
	url = git@github.com:kentcdodds/advanced-react-patterns.git
